
.content {
  margin-top: 120px;
}

.translated-value {
  color: green;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}

audio {
    color: blue;
}

.lexical-category {
  font-style: italic;
}

.phoneticSpelling {
  font-weight: bold;
}
